<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="/BookMarket/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<div class="container py-4">
    <th:block th:replace="~{/module/header}"></th:block>
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">회원 등록 </h1>
            <p class="col-md-8 fs-4">BookMarket</p>
        </div>
    </div>

    <th:block th:replace="~{/module/footer}"></th:block>
</div>
</body>
</html>